# v1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.14.3"
    hooks:
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.18.2"
    hooks:
      - id: mypy
        language_version: python3.13
        additional_dependencies: [types-python-dateutil==2.8.19]
        exclude: (^migrations/)
        args: [ --no-strict-optional, --ignore-missing-imports, --python-version=3.13 ]